<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="w-100 p-3" style="background: #faf8ff; margin:10px">
    <!-- aici incepe topbar -->
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: darkgray;">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="index.php">Homepage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sign in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> Don't have an account? </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Register!</a>
            </li>


        </ul>
    </nav>
    <!--aici incepe header-ul -->
    <div class="row">
        <div class="col-4">
            <img src="pictures/shop.jpeg" width="200" class="rounded"/>
        </div>
        <div class="col-4">
            <h1 style="font-size: xx-large; color: #3959C3; font-weight: 800;">E-shoooop</h1>
        </div>
        <div class="col-4">
            <form class="form-inline my-2 my-lg-0" action="#" method="get" id="formSearch">
                <input class="form-control mr-sm-2" type="text" value="<?php echo $_GET['search']; ?>"
                       name="search"
                       placeholder="Search"/>
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
            </form>
        </div>

    </div>
    <!--aici se termina header-ul -->
    {% block content %}

        <!--aici se termina meniul -->
        <!--aici incepe content-ul -->
        <!--aici se termina contentul-->
        {% endblock %}

        <!--aici incepe footer-ul -->

        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
                <br>
                <br>
                Aici este footerul!
                <br>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <br>
                <br>
                &#169; Scoala
                <br>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <br>
                <br>
                Informala
                <br>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <br>
                <br>
                de IT
                <br>
            </div>
        </div>


        <!--aici se termina footer-ul -->
    </div>