{% extends 'base.html.twig' %}
{% block content %}
    <div>
        <div class="col-1">
        </div>

        <div class="btn-group col-2">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Categorii
            </button>
            <div class="dropdown-menu">

                {% for cat in categories %}
                    <a class="dropdown-item" href="category.php?id={{ cat.getId() }}">{{ cat.getName() }}</a>
                    <div class="dropdown-divider"></div>
                {% endfor %}
            </div>

            <div class="col-1">
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-9">

            <!-- disply products in category  -->
            <div class="row">
                <div class="col-12">
                    <div class="row align-items-center align-content-center">
                        <div class="col-12">
                            <h2 style="font-weight: 800;font-size: xx-large; color: brown; background:#faf8ff">{{ category.getName() }}</h2>
                        </div>
                        <div class="row">
                        {% for product in category.getProducts() %}
                            {% include 'productTile.html.twig' with {'product': product} %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--aici incepe sidebar-ul -->
        <div id="sidebar" class="col-lg-3 d-sm-none d-lg-block ">
            <div class="row">

                <div>

                </div>
                <div>
                    <h2><a href="#" style="font-weight: 400;color:brown;">Cart</a></h2>
                </div>
                <div>
                    <h4 style="font-weight: 500;font-size: x-large; color: brown; background:#faf8ff">Cele mai
                        vandute!!!</h4>
                </div>
            </div>
        </div>
    </div>




{% endblock %}