
{% extends 'base.html.twig' %}
{% block content %}
<!--aici incepe meniul -->

    <div>
        <div class="col-1">
        </div>

        <div class="btn-group col-2">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Categorii
            </button>
            <div class="dropdown-menu">


                {% for category in categories %}
                    <a class="dropdown-item" href="category.php?id={{ category.getId() }}">{{ category.getName() }}</a>
                    <div class="dropdown-divider"></div>
                {% endfor %}
            </div>

            <div class="col-1">
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-9">
        <h2 style="font-weight: 800;font-size: xx-large; color: brown; background:#faf8ff">Sales!!!</h2>

        <!-- display products on homepage -->
        <div class="row">
            <div class="col-12">
                <div class="row row justify-content-center align-items-center">

                    {%for product in products %}
                    <div class="col-4  justify-content-center align-items-center">
                        <div class="card" style="width: 12rem;">
                            <img class="card-img-top" src="{{ product.getPhoto() }}" height="75"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.getTitle() }}</h5>
                                <p class="card-text">{{ product.getDescription() }}<a href="product.php?id={{ product.getId() }}">See
                                        more...</a></p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!--aici incepe sidebar-ul -->
    <div id="sidebar" class="col-lg-3 d-sm-none d-lg-block ">
        <div class="row">

            <div>

            </div>
            <div>
                <h2><a href="#" style="font-weight: 400;color:brown;">Cart</a></h2>
            </div>
            <div>
                <h4 style="font-weight: 500;font-size: x-large; color: brown; background:#faf8ff">Cele mai
                    vandute!!!</h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}



