<div class="col-4">
    <div class="card" style="width: 12rem;">
        <img class="card-img-top" src={{ product.getPhoto() }}
        alt="Card image cap"/>
        <div class="card-body">
            <h5 class="card-title">{{ product.getTitle() }}</h5>
            <p class="card-text">{{ product.getDescription() }}<a href="product.php?id={{ product.getId() }}">See
                    more...</a></p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
</div>