{% extends 'base.html.twig' %}
{% block content %}
<div>
    <div class="col-1">
    </div>

    <div class="btn-group col-2">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Categorii
        </button>
        <div class="dropdown-menu">


            {% for category in categories %}
                <a class="dropdown-item" href="category.php?id={{ category.getId() }}">{{ category.getName() }}</a>
                <div class="dropdown-divider"></div>
            {% endfor %}
        </div>

        <div class="col-1">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-9">

        <div class="row">
            <div class="col-12">
                <!--display product  -->
                <div class="row justify-content-center align-items-center">
                    <div class="col-3 justify-content-center"><img src={{ product.getPhoto() }} /></div>
                    <div class="col-3"></div>
                    <div class="col-6 justify-content-center"><h2
                                style="font-weight: 800; font-size: x-large; color: midnightblue;">{{ product.getTitle() }} </h2></div>
                </div>
                <div><h6 style="font-weight: 300;font-size: large"> {{ product.getDescription() }} </h6></div>
                <div><h5 class="justify-content-center">Price: {{ product.getPrice() }}  RON</h5> <h4
                            style="color: brown;font-size: large;font-weight: 400;">-{{ product.getDiscount() }}  %</h4></div>
            </div>
        </div>
    </div>
    <!--aici incepe sidebar-ul -->
    <div id="sidebar" class="col-lg-3 d-sm-none d-lg-block ">
        <div class="row">

            <div>

            </div>
            <div>
                <h2><a href="#" style="font-weight: 400;color:brown;">Cart</a></h2>
            </div>
            <div>
                <h4 style="font-weight: 500;font-size: x-large; color: brown; background:#faf8ff">Cele mai
                    vandute!!!</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}